Repository qianshe/qianshe-archive: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, test-check, build-check, check-package-scripts, check-env-config, check-imports

.pre-commit-config.yaml:

# Pre-commit hooks 配置文件
# 确保每次提交前都进行代码质量检查

repos:
  # 代码格式检查和修复
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # 检查文件末尾是否有换行符
      - id: end-of-file-fixer
      # 移除行尾空格
      - id: trailing-whitespace
      # 检查是否添加了大文件
      - id: check-added-large-files
        args: ['--maxkb=1000']
      # 检查JSON文件格式
      - id: check-json
      # 检查YAML文件格式
      - id: check-yaml
      # 检查是否有合并冲突标记
      - id: check-merge-conflict
      # 检查Python文件语法（如果有的话）
      - id: check-executables-have-shebangs
      # 防止提交到主分支
      - id: no-commit-to-branch
        args: [--branch, main, --branch, master]

  # 代码格式化
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
        language_version: python3
        files: ^.*\.py$

  # JavaScript/TypeScript 代码检查
  - repo: local
    hooks:
      # ESLint 代码质量检查
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
        types: [file]

      # Prettier 代码格式化
      - id: prettier
        name: Prettier
        entry: npm run format
        language: system
        files: \.(js|jsx|ts|tsx|json|css|scss|less|md|yml|yaml)$
        pass_filenames: false
        types: [file]

      # TypeScript 类型检查
      - id: typescript-check
        name: TypeScript Type Check
        entry: npm run type-check-all
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        types: [file]

      # 单元测试检查
      - id: test-check
        name: Unit Tests
        entry: npm run test
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
        types: [file]

      # 构建检查
      - id: build-check
        name: Build Check
        entry: npm run build:check
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
        types: [file]

  # 安全性检查
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # 自定义检查脚本
  - repo: local
    hooks:
      # 检查package.json的scripts一致性
      - id: check-package-scripts
        name: Check Package Scripts Consistency
        entry: node scripts/check-package-scripts.js
        language: system
        files: package\.json$

      # 检查环境变量配置
      - id: check-env-config
        name: Check Environment Config
        entry: node scripts/check-env-config.js
        language: system
        files: \.(env|env\.example|env\.local)$

      # 检查导入路径一致性
      - id: check-imports
        name: Check Import Paths
        entry: node scripts/check-imports.js
        language: system
        files: \.(js|jsx|ts|tsx)$

# 全局配置
default_stages: [commit]
fail_fast: false
default_language_version:
  python: python3

# CI配置
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

chore: 清理无用文件和文档
  CODE_STANDARDS.md
  DEPENDENCY_VERSIONS.md
  DEPLOYMENT_GUIDE.md
  MAINTENANCE_MANUAL.md
  PROJECT_SUMMARY.md
  design-system/accessibility-design.md
  design-system/admin-interface.md
  design-system/animation-interactions.md
  design-system/component-library.md
  design-system/design-specification.md
  design-system/design-system-roadmap.md
  design-system/performance-optimization.md
  design-system/responsive-layout.md
  docs/设计.md
  packages/dashboard-worker/typecheck-results.txt
  pnpm-workspace.yaml
Due: prettier

chore: 配置 npm workspaces 并删除 GitHub 配置
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/code-quality.yml
  .github/workflows/quality-monitoring.yml
  .github/workflows/type-check.yml
  .pre-commit-config.yaml
  package.json
Due: prettier, check-package-scripts

fix: 完善项目配置和文档
  .gitignore
  README.md
  deploy-monorepo-example.js
  packages/shared/package.json
  packages/shared/types/.tsbuildinfo
Due: eslint, prettier, test-check, build-check, check-package-scripts, check-imports

chore(.gitignore): 添加 .claude 目录到 gitignore 列表
  .claude/settings.local.json
  .gitignore
Due: prettier

docs(shared-types): 添加共享类型包的设计原则和使用说明
  packages/shared/types/.eslintrc.js
  packages/shared/types/README.md
  packages/shared/types/TYPE_QUALITY_REPORT.md
  packages/shared/types/analytics-extended.ts
  packages/shared/types/api-client.ts
  packages/shared/types/api.ts
  packages/shared/types/auth.ts
  packages/shared/types/blog.ts
  packages/shared/types/business-domain.ts
  packages/shared/types/cache.ts
  packages/shared/types/charts.ts
  packages/shared/types/database.ts
  packages/shared/types/environment.ts
  packages/shared/types/file-upload.ts
  packages/shared/types/index-complete.ts
  packages/shared/types/index.ts
  packages/shared/types/jest.config.js
  packages/shared/types/models.ts
  packages/shared/types/monitoring.ts
  packages/shared/types/project.ts
  packages/shared/types/test-imports.ts
  packages/shared/types/utils-extended.ts
  packages/shared/types/utils.ts
  packages/shared/types/validation.ts
  packages/shared/types/workers.ts
Due: eslint, prettier, typescript-check, test-check, build-check, check-imports

``` refactor(dashboard-frontend): 移除未使用的主题上下文和依赖包
  package.json
  packages/dashboard-frontend/package.json
  packages/dashboard-frontend/src/pages/auth/LoginPage.tsx
  packages/dashboard-frontend/vite.config.ts
  packages/dashboard-worker/wrangler.toml
  packages/portfolio-frontend/src/styles/globals.css
  packages/portfolio-frontend/vite.config.ts
  packages/portfolio-worker/tsconfig.json
  packages/portfolio-worker/wrangler.toml
  packages/shared/types/package.json
Due: eslint, prettier, typescript-check, test-check, build-check, check-package-scripts, check-imports

refactor(shared): 移除共享类型包及其相关配置
  packages/shared/package.json
  packages/shared/tsconfig.json
  packages/shared/types/README.md
  packages/shared/types/index.ts
  packages/shared/types/package.json
  packages/shared/types/tsconfig.json
Due: eslint, prettier, typescript-check, test-check, build-check, check-package-scripts, check-imports

refactor(scripts): 移除冗余的项目检查脚本
  package.json
  scripts/build-check.js
  scripts/check-env-config.js
  scripts/check-imports.js
  scripts/check-package-scripts.js
  scripts/create-quality-dashboard.js
  scripts/generate-quality-report.js
  scripts/generate-quality-trend.js
  scripts/quality-monitor.js
  scripts/run-tests.js
  scripts/setup-pre-commit.js
  scripts/type-check-all.js
Due: eslint, prettier, test-check, build-check, check-package-scripts, check-imports

feat(tests): 删除 Dashboard 和 Portfolio 的 API 测试文件
  tests/api/dashboard.test.ts
  tests/api/portfolio.test.ts
  tests/database/operations.test.ts
  tests/frontend/dashboard/ContentManager.test.tsx
  tests/frontend/dashboard/LoginPage.test.tsx
  tests/frontend/package.json
  tests/frontend/portfolio/BlogList.test.tsx
  tests/frontend/portfolio/HomePage.test.tsx
  tests/frontend/portfolio/PostDetail.test.tsx
  tests/frontend/setup.tsx
  tests/frontend/utils/interactions.test.ts
  tests/frontend/utils/responsive.test.ts
  tests/frontend/vite.config.ts
  tests/performance/benchmark.test.ts
  tests/performance/load.test.ts
  tests/security/data-protection.test.ts
  tests/security/vulnerability.test.ts
  tests/setup.ts
  tests/type-safety/api-response-types.test.ts
  tests/type-safety/database-types.test.ts
  tests/type-safety/frontend-component-types.test.tsx
  tests/type-safety/runtime-type-validation.test.ts
  tests/type-safety/static-type-checking.test.ts
  tests/type-safety/type-impact-assessment.test.ts
  tests/uat/acceptance-test-suites.ts
  tests/uat/playwright.config.ts
  tests/uat/user-acceptance-guide.md
  tests/vitest.config.ts
Due: eslint, prettier, typescript-check, test-check, build-check, check-package-scripts, check-imports

feat(dashboard-frontend): 优化页面加载性能与用户体验
  packages/dashboard-frontend/index.html
  packages/dashboard-frontend/src/App.tsx
  packages/dashboard-frontend/src/components/Layout.tsx
  packages/dashboard-frontend/src/pages/DashboardPage.tsx
  packages/dashboard-frontend/vite.config.ts
  packages/dashboard-worker/package.json
  packages/dashboard-worker/src/index.ts
  packages/dashboard-worker/wrangler.toml
  packages/portfolio-frontend/index.html
  packages/portfolio-frontend/src/components/Home/FeaturedProjects.tsx
  packages/portfolio-frontend/src/components/Home/RecentPosts.tsx
  packages/portfolio-frontend/src/styles/globals.css
  packages/portfolio-frontend/vite.config.ts
  packages/portfolio-worker/package.json
  packages/portfolio-worker/src/index.ts
  packages/portfolio-worker/src/types/index.ts
  packages/portfolio-worker/wrangler.toml
Due: eslint, prettier, typescript-check, test-check, build-check, check-package-scripts, check-imports

build(dashboard-frontend): 添加PostCSS配置文件以支持TailwindCSS和Autoprefixer
  packages/dashboard-frontend/postcss.config.js
  packages/portfolio-frontend/postcss.config.js
Due: eslint, prettier, test-check, build-check, check-imports

feat(dashboard-frontend): 重构布局组件，优化侧边栏和顶部导航样式
  .gitignore
  packages/dashboard-frontend/src/components/Layout.tsx
Due: eslint, prettier, typescript-check, test-check, build-check, check-imports

feat(dashboard-worker): 实现两级缓存支持并优化性能统计
  packages/dashboard-worker/src/index.ts
  packages/dashboard-worker/src/middleware/database.ts
  packages/dashboard-worker/wrangler.toml
  packages/portfolio-worker/src/index.ts
  packages/portfolio-worker/src/services/database.ts
  packages/portfolio-worker/src/types/index.ts
  packages/portfolio-worker/src/utils/cache.ts
  packages/portfolio-worker/wrangler.toml
Due: eslint, prettier, typescript-check, test-check, build-check, check-imports

feat(dashboard-frontend): 添加开发环境配置和优化 Vite 配置
  packages/dashboard-frontend/.env.development
  packages/dashboard-frontend/package.json
  packages/dashboard-frontend/vite.config.ts
  packages/portfolio-frontend/package.json
Due: eslint, prettier, typescript-check, test-check, build-check, check-package-scripts, check-imports

feat(layout): 添加桌面端侧边栏折叠功能并优化布局
  .gitignore
  docs/LOCAL_DEVELOPMENT.md
  packages/dashboard-frontend/src/components/Layout.tsx
Due: eslint, prettier, typescript-check, test-check, build-check, check-imports

feat(auth): 增强认证状态判断和初始化逻辑
  packages/dashboard-frontend/src/components/auth/ProtectedRoute.tsx
  packages/dashboard-frontend/src/contexts/AuthContext.tsx
  packages/dashboard-frontend/src/hooks/useAnalytics.ts
  packages/dashboard-frontend/src/services/api.ts
  packages/dashboard-frontend/src/types/react.ts
  packages/dashboard-worker/src/index.ts
  packages/portfolio-worker/src/handlers/system.ts
  packages/portfolio-worker/src/middleware/cors.ts
  packages/portfolio-worker/src/middleware/response.ts
  packages/portfolio-worker/src/routes/api.ts
Due: eslint, prettier, typescript-check, test-check, build-check, check-imports

feat(dashboard-worker): 优化管理员登录验证与环境配置
  .gitignore
  packages/dashboard-frontend/src/contexts/AuthContext.tsx
  packages/dashboard-frontend/src/pages/auth/LoginPage.tsx
  packages/dashboard-frontend/src/types/services.ts
  packages/dashboard-worker/README.wrangler.md
  packages/dashboard-worker/migrations/002_add_user_sessions.sql
  packages/dashboard-worker/package.json
  packages/dashboard-worker/scripts/check-env.js
  packages/dashboard-worker/src/handlers/auth.ts
  packages/dashboard-worker/src/index.ts
  packages/dashboard-worker/src/types/index.ts
  packages/dashboard-worker/wrangler.toml
  packages/portfolio-worker/README.wrangler.md
  packages/portfolio-worker/package.json
  packages/portfolio-worker/wrangler.toml
Due: eslint, prettier, typescript-check, test-check, build-check, check-package-scripts, check-imports

refactor(scripts): 移除冗余的构建和测试脚本配置
  package.json
  packages/dashboard-worker/package.json
  packages/portfolio-worker/package.json
Due: prettier, check-package-scripts

feat(dashboard-frontend): 添加文章分页、统计卡片和编辑器功能
  package.json
  packages/dashboard-frontend/src/components/Pagination.tsx
  packages/dashboard-frontend/src/components/PostStatsCards.tsx
  packages/dashboard-frontend/src/hooks/usePostEditor.ts
  packages/dashboard-frontend/src/hooks/usePostList.ts
  packages/dashboard-frontend/src/pages/posts/PostEditorPage.tsx
  packages/dashboard-frontend/src/pages/posts/PostsPage.tsx
  packages/dashboard-frontend/src/services/api.ts
  packages/dashboard-frontend/src/types/blog.ts
  packages/dashboard-worker/src/handlers/posts.ts
  packages/dashboard-worker/src/middleware/auth.ts
  packages/dashboard-worker/src/types/management.ts
Due: eslint, prettier, typescript-check, test-check, build-check, check-package-scripts, check-imports

feat(dashboard): 实现文章预览功能并重构图片字段命名
  CLAUDE.md
  package.json
  packages/dashboard-frontend/src/App.tsx
  packages/dashboard-frontend/src/hooks/usePostEditor.ts
  packages/dashboard-frontend/src/pages/posts/PostEditorPage.tsx
  packages/dashboard-frontend/src/pages/posts/PostPreviewPage.tsx
  packages/dashboard-frontend/src/pages/posts/PostsPage.tsx
  packages/dashboard-frontend/src/services/api.ts
  packages/dashboard-frontend/src/types/blog.ts
  packages/dashboard-worker/UPGRADE_NOTES.md
  packages/dashboard-worker/package.json
  packages/dashboard-worker/src/handlers/posts.ts
  packages/dashboard-worker/src/handlers/projects.ts
  packages/dashboard-worker/src/handlers/upload.ts
  packages/dashboard-worker/src/index.ts
  packages/dashboard-worker/src/types/index.ts
  packages/dashboard-worker/src/types/management.ts
  packages/dashboard-worker/src/utils/snowflake.ts
  packages/portfolio-worker/package.json
  packages/portfolio-worker/src/index.ts
  packages/portfolio-worker/src/types/index.ts
  packages/portfolio-worker/wrangler.toml
Due: eslint, prettier, typescript-check, test-check, build-check, check-package-scripts, check-imports

docs(dashboard-worker): 移动升级说明文档到docs目录
  docs/UPGRADE_NOTES.md
Due: prettier
